@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }

body
{
    background: url("../../img/slider_1.jpg") no-repeat center center fixed;
    background-size: cover;
}


.rectangle {

    height: 330px;

    background-color: rgba(24, 54, 80, 0.7);
    margin: 50px 100px;
    color: white;
    line-height: 5em;
    vertical-align: middle;
    animation-timing-function: ease-in;
    -webkit-animation: fade-in 1s linear; /* Safari 4+ */
    -moz-animation: fade-in 1s linear; /* Fx 5+ */
    -o-animation: fade-in 1s linear; /* Opera 12+ */
    animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
}



